# Firebase Configuration
EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyAS1VlkYKeGRZM5GQFSb_HNioxoPm_EljE
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=smartlearnerredo.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=smartlearnerredo
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=smartlearnerredo.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=627049853824
EXPO_PUBLIC_FIREBASE_APP_ID=1:627049853824:web:ef4741b2c4001a8f3f0765

# Neon Database
EXPO_PUBLIC_NEON_DATABASE_URL="postgresql://neondb_owner:npg_uwS9qzOL7HXp@ep-holy-math-ah7etcbf-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Google Gemini
EXPO_PUBLIC_GEMINI_API_KEY=AIzaSyA8mUzkNGwh-xzWqQMU8vwT2jUBpV87Jes

# ImageKit
EXPO_PUBLIC_IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/hlf20oixz
EXPO_PUBLIC_IMAGEKIT_PUBLIC_KEY="public_ZJiQZQZJgQTFrqK++cCDac1+SzM="
EXPO_PUBLIC_IMAGEKIT_AUTHENTICATION_ENDPOINT=https://ik.imagekit.io/hlf20oixz/auth
